[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/Vulkan-Headers"]
	path = deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "deps/shaderc"]
	path = deps/shaderc
	url = https://github.com/google/shaderc
[submodule "deps/SPIRV-Cross"]
	path = deps/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "deps/cgltf"]
	path = deps/cgltf
	url = https://github.com/jkuhlmann/cgltf
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
