[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "deps/Vulkan-Headers"]
	path = deps/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "deps/shaderc"]
	path = deps/shaderc
	url = https://github.com/google/shaderc
